USE [master]
GO
/****** Object:  Database [GasStation]    Script Date: 24.05.2021 15:11:33 ******/
CREATE DATABASE [GasStation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GasStation', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GasStation.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GasStation_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\GasStation_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GasStation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GasStation]
GO
/****** Object:  UserDefinedFunction [dbo].[fun_getIlceId]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE FUNCTION [dbo].[fun_getIlceId]
 (
 @il varchar(20),
 @ilce varchar(20))
 returns INT
 AS
 begin
 return (select TOP (1) lc.IlceId FROM Ilceler AS lc INNER JOIN Iller AS ll ON ll.IlID=lc.IlID WHERE ((Ilce like @ilce or Ilceen like @ilce or Ilceop like @ilce or Ilcebp like @ilce )and(ll.IlID=TRY_CONVERT(int,@il)or ll.Il like @il or ll.Ilen like @il or ll.Ilop like @il)));
 end
GO
/****** Object:  Table [dbo].[archive]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archive](
	[date] [date] NOT NULL,
	[benzin] [float] NOT NULL,
	[motorin] [float] NOT NULL,
	[otogaz] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BP]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BP](
	[IlceID] [int] NOT NULL,
	[date] [date] NULL,
	[benzin] [varchar](10) NULL,
	[motorin] [varchar](10) NULL,
	[ilce] [varchar](20) NULL,
	[otogaz] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Future]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Future](
	[id] [int] NULL,
	[date] [date] NULL,
	[benzin] [varchar](50) NULL,
	[motorin] [varchar](50) NULL,
	[otogaz] [varchar](50) NULL,
	[rmse_b] [varchar](10) NULL,
	[rmse_m] [varchar](10) NULL,
	[rmse_o] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[IlceID] [int] IDENTITY(1,1) NOT NULL,
	[IlID] [int] NULL,
	[Ilce] [varchar](20) NULL,
	[Ilceen] [varchar](20) NULL,
	[Ilceop] [varchar](20) NULL,
	[Ilcebp] [varchar](20) NULL,
 CONSTRAINT [PK__Ilceler__D2081A5BA52CB929] PRIMARY KEY CLUSTERED 
(
	[IlceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iller]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iller](
	[IlID] [int] IDENTITY(1,1) NOT NULL,
	[Il] [nvarchar](100) NULL,
	[Ilen] [varchar](50) NULL,
	[Ilop] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IlID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opet]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opet](
	[IlceID] [int] NOT NULL,
	[date] [date] NULL,
	[benzin] [varchar](10) NULL,
	[motorin] [varchar](10) NULL,
	[ilce] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shell]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shell](
	[IlceID] [int] NOT NULL,
	[date] [date] NULL,
	[benzin] [varchar](6) NULL,
	[motorin] [varchar](6) NULL,
	[otogaz] [varchar](6) NULL,
	[ilce] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[ilceid] [int] NULL,
	[ilce] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Total]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Total](
	[IlceID] [int] NOT NULL,
	[date] [date] NULL,
	[benzin] [float] NULL,
	[motorin] [float] NULL,
	[otogaz] [float] NULL,
	[ilce] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turkPetrol]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turkPetrol](
	[IlceID] [int] NOT NULL,
	[date] [date] NULL,
	[benzin] [varchar](10) NULL,
	[motorin] [varchar](10) NULL,
	[otogaz] [varchar](10) NULL,
	[ilce] [nchar](20) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[archive] ([date], [benzin], [motorin], [otogaz]) VALUES (CAST(N'2012-01-01' AS Date), 4.31, 3.78, 3.29)
INSERT [dbo].[archive] ([date], [benzin], [motorin], [otogaz]) VALUES (CAST(N'2012-01-07' AS Date), 4.31, 3.78, 3.29)
INSERT [dbo].[archive] ([date], [benzin], [motorin], [otogaz]) VALUES (CAST(N'2012-01-10' AS Date), 4.31, 3.86, 3.29)
GO
INSERT [dbo].[BP] ([IlceID], [date], [benzin], [motorin], [ilce], [otogaz]) VALUES (2, CAST(N'2021-04-26' AS Date), N'7.21', N'6.57', N'ceyhan', N'3,91')
INSERT [dbo].[BP] ([IlceID], [date], [benzin], [motorin], [ilce], [otogaz]) VALUES (3, CAST(N'2021-04-26' AS Date), N'7.21', N'6.57', N'cukurova', N'3,91')
INSERT [dbo].[BP] ([IlceID], [date], [benzin], [motorin], [ilce], [otogaz]) VALUES (1074, CAST(N'2021-04-26' AS Date), N'7.21', N'6.57', N'incirlik', N'3,91')
GO
INSERT [dbo].[Future] ([id], [date], [benzin], [motorin], [otogaz], [rmse_b], [rmse_m], [rmse_o]) VALUES (1, CAST(N'2021-04-04' AS Date), N'7.034048  ', NULL, NULL, N'0.00029503', NULL, NULL)
INSERT [dbo].[Future] ([id], [date], [benzin], [motorin], [otogaz], [rmse_b], [rmse_m], [rmse_o]) VALUES (2, CAST(N'2021-05-05' AS Date), N'7.090385  ', N'6.388303', N'4.046559', N'0.00001254', N'0.0206909', N'0.0131272')
GO
SET IDENTITY_INSERT [dbo].[Ilceler] ON 

INSERT [dbo].[Ilceler] ([IlceID], [IlID], [Ilce], [Ilceen], [Ilceop], [Ilcebp]) VALUES (1, 1, N'Aladağ', N'aladag', NULL, NULL)
INSERT [dbo].[Ilceler] ([IlceID], [IlID], [Ilce], [Ilceen], [Ilceop], [Ilcebp]) VALUES (2, 1, N'Ceyhan', N'ceyhan', NULL, NULL)
INSERT [dbo].[Ilceler] ([IlceID], [IlID], [Ilce], [Ilceen], [Ilceop], [Ilcebp]) VALUES (3, 1, N'Çukurova', N'cukurova', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Ilceler] OFF
GO
SET IDENTITY_INSERT [dbo].[Iller] ON 

INSERT [dbo].[Iller] ([IlID], [Il], [Ilen], [Ilop]) VALUES (1, N'Adana', N'adana', NULL)
INSERT [dbo].[Iller] ([IlID], [Il], [Ilen], [Ilop]) VALUES (2, N'Adıyaman', N'adiyaman', NULL)
INSERT [dbo].[Iller] ([IlID], [Il], [Ilen], [Ilop]) VALUES (3, N'Afyon', N'afyonkarahisar', NULL)
SET IDENTITY_INSERT [dbo].[Iller] OFF
GO
INSERT [dbo].[Opet] ([IlceID], [date], [benzin], [motorin], [ilce]) VALUES (1, CAST(N'2021-05-20' AS Date), N'7.89', N'7.38', N'aladag')
INSERT [dbo].[Opet] ([IlceID], [date], [benzin], [motorin], [ilce]) VALUES (2, CAST(N'2021-05-20' AS Date), N'7.87', N'7.37', N'ceyhan')
INSERT [dbo].[Opet] ([IlceID], [date], [benzin], [motorin], [ilce]) VALUES (3, CAST(N'2021-05-20' AS Date), N'7.87', N'7.37', N'cukurova')
GO
INSERT [dbo].[Shell] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (1071, CAST(N'2021-05-20' AS Date), N'7,32', N'6,67', N'4,06', N'adana')
INSERT [dbo].[Shell] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (1, CAST(N'2021-05-20' AS Date), N'7,32', N'6,68', N'4,06', N'aladag')
INSERT [dbo].[Shell] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (2, CAST(N'2021-05-20' AS Date), N'7,32', N'6,68', N'4,06', N'ceyhan')
GO
INSERT [dbo].[test] ([ilceid], [ilce]) VALUES (1, N'aladag')
INSERT [dbo].[test] ([ilceid], [ilce]) VALUES (2, N'ceyhan')
INSERT [dbo].[test] ([ilceid], [ilce]) VALUES (3, N'cukurova')
GO
INSERT [dbo].[Total] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (2, CAST(N'2021-04-14' AS Date), 7.21, 6.57, 4.06, N'ceyhan')
INSERT [dbo].[Total] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (8, CAST(N'2021-04-14' AS Date), 7.21, 6.57, 4.06, N'kozan')
INSERT [dbo].[Total] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (1071, CAST(N'2021-04-14' AS Date), 7.21, 6.57, 4.06, N'adana')
GO
INSERT [dbo].[turkPetrol] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (1071, CAST(N'2021-05-21' AS Date), N'7.85', N'7.33', N'4.05', N'adana               ')
INSERT [dbo].[turkPetrol] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (1, CAST(N'2021-05-21' AS Date), N'7.88', N'7.36', N'4.05', N'aladag              ')
INSERT [dbo].[turkPetrol] ([IlceID], [date], [benzin], [motorin], [otogaz], [ilce]) VALUES (2, CAST(N'2021-05-21' AS Date), N'7.87', N'7.35', N'4.05', N'ceyhan              ')
GO
ALTER TABLE [dbo].[turkPetrol] ADD  CONSTRAINT [DF_turkPetrol_tarih]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[BP]  WITH CHECK ADD  CONSTRAINT [FK_BP_Ilceler] FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[BP] CHECK CONSTRAINT [FK_BP_Ilceler]
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD  CONSTRAINT [FK__Ilceler__IlID__267ABA7A] FOREIGN KEY([IlID])
REFERENCES [dbo].[Iller] ([IlID])
GO
ALTER TABLE [dbo].[Ilceler] CHECK CONSTRAINT [FK__Ilceler__IlID__267ABA7A]
GO
ALTER TABLE [dbo].[Opet]  WITH CHECK ADD  CONSTRAINT [FK_Opet_Ilceler] FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[Opet] CHECK CONSTRAINT [FK_Opet_Ilceler]
GO
ALTER TABLE [dbo].[Shell]  WITH CHECK ADD  CONSTRAINT [FK_Shell_Ilceler] FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[Shell] CHECK CONSTRAINT [FK_Shell_Ilceler]
GO
ALTER TABLE [dbo].[Total]  WITH CHECK ADD  CONSTRAINT [FK_Total_Ilceler] FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[Total] CHECK CONSTRAINT [FK_Total_Ilceler]
GO
ALTER TABLE [dbo].[turkPetrol]  WITH CHECK ADD  CONSTRAINT [FK_turkPetrol_Ilceler] FOREIGN KEY([IlceID])
REFERENCES [dbo].[Ilceler] ([IlceID])
GO
ALTER TABLE [dbo].[turkPetrol] CHECK CONSTRAINT [FK_turkPetrol_Ilceler]
GO
/****** Object:  StoredProcedure [dbo].[addtest]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[addtest] @il varchar(20), @ilce varchar(20)
as
Declare @ilceID int
if (@il like 'Avrupa' or @il like'Anadolu')
begin
set @il='istanbul'
end
if(@ilce = 'merkez')
begin
set @ilce=@il
end
if(@ilce like '%anadolu_y_merkez%')
begin
set @ilce=@il
end
set @ilceID = (select top (1) IlceID from Ilceler as lc inner join Iller as ll on ll.IlID=lc.IlID where (Ilce like '%'+@ilce+'%' or Ilceen like '%'+@ilce+'%'or Ilceop like '%'+@ilce+'%' )and ll.Il like '%'+@il+'%')

insert into test values(@ilceID,@ilce)
GO
/****** Object:  StoredProcedure [dbo].[AddtoBP]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddtoBP] @il varchar(30), @ilce varchar(30), @benzin varchar(6), @motorin varchar(6)
AS

DECLARE @Id int 

if (@il like '%istanbul%')
begin
set @il='istanbul'
end
if(@ilce = 'merkez')
begin
set @ilce=@il
end
if(@ilce like '%anadolu_y_merkez%')
begin
set @ilce=@il
end

SET @Id = dbo.fun_getIlceId(@il,@ilce);

if(@Id is not NULL)
begin
if(Select date from BP where IlceID=@Id) is not null
begin
update BP set benzin=@benzin,motorin=@motorin, date=getdate() where IlceID=@Id;
END
else
begin
INSERT INTO dbo.BP (IlceID,date,benzin,motorin,ilce) values (@Id, getdate(), @benzin, @motorin, @ilce)
end
end;
GO
/****** Object:  StoredProcedure [dbo].[AddtoBPLpg]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[AddtoBPLpg] @il varchar(30), @otogaz varchar(6)
AS

DECLARE @Id int 

SET @Id = (SELECT TOP (1) IlID  FROM Iller where (Il like '%'+@il+'%' or Ilen like '%'+@il+'%'or Ilop like '%'+@il+'%'))
if(@Id is not NULL)
begin
	Update BP set otogaz=@otogaz from BP inner join Ilceler as lc on lc.IlceID=bp.IlceID inner join Iller as ll on ll.IlID=lc.IlID  where ll.IlID=@Id;
	end
GO
/****** Object:  StoredProcedure [dbo].[AddtoOpet]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddtoOpet] @il varchar(30), @ilce varchar(30), @benzin varchar(6), @motorin varchar(6)
AS
Declare @Id int
if (@il like 'Avrupa' or @il like'Anadolu')
begin
set @il='istanbul'
end
if(@ilce = 'merkez')
begin
set @ilce=@il
end
if(@ilce like '%anadolu_y_merkez%')
begin
set @ilce=@il
end
SET @Id = dbo.fun_getIlceId(@il,@ilce);
if(@Id is not NULL)
begin
if(Select date from Opet where IlceID=@Id) is not null
	begin
	update Opet set benzin=@benzin,motorin=@motorin, date=getdate() where IlceID=@Id;
	END
	else begin
	INSERT INTO dbo.Opet values (@Id, getdate(), @benzin, @motorin, @ilce);
end
end;
GO
/****** Object:  StoredProcedure [dbo].[AddtoShell]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddtoShell] @il varchar(20), @ilce varchar(20), @benzin varchar(6), @motorin varchar(6), @otogaz varchar(6)
AS

DECLARE @Id int 

if (@il like '%istanbul%')
begin
set @il='istanbul'
end
if(@ilce like '%merkez%')
begin
set @ilce=@il
end
if(@ilce like '%anadolu_y_merkez%')
begin
set @ilce=@il
end
SET @Id = dbo.fun_getIlceId(@il,@ilce);
if(@Id is not NULL)
begin
	if(Select date from Shell where IlceID=@Id) is not null
	begin
	update Shell set benzin=@benzin,motorin=@motorin,otogaz=@otogaz, date=getdate() where IlceID=@Id;
	END
	else begin
	INSERT INTO dbo.Shell values (@Id, getdate(), @benzin, @motorin,@otogaz,@ilce);
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[AddtoTotal]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddtoTotal] @il varchar(20), @ilce varchar(20), @benzin varchar(6), @motorin varchar(6), @otogaz varchar(6)
AS

DECLARE @Id int 

if (@il like '%istanbul%')
begin
set @il='istanbul'
end
if(@ilce like '%merkez%')
begin
set @ilce=@il
end
if(@ilce like '%anadolu_y_merkez%')
begin
set @ilce=@il
end

SET @Id = dbo.fun_getIlceId(@il,@ilce);
if(@Id is not NULL)
begin
	if(Select date from Total where IlceID=@Id) is not null
	begin
	update total set benzin=try_convert(float,@benzin),motorin=try_convert(float,@motorin),otogaz=try_convert(float,@otogaz), date=getdate() where IlceID=@Id;
	END
	else begin
	INSERT INTO dbo.Total values (@Id, getdate(), try_convert(float,@benzin), try_convert(float,@motorin),try_convert(float,@otogaz), @ilce)
	end
end;
GO
/****** Object:  StoredProcedure [dbo].[AddtoTurkPetrol]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddtoTurkPetrol] @il varchar(5), @ilce varchar(20), @benzin varchar(6), @motorin varchar(6), @otogaz varchar(6)
AS

DECLARE @Id int 
SET @Id = dbo.fun_getIlceId(@il,@ilce);
print @Id
if(@Id is not NULL)
begin
	if(Select date from turkPetrol where IlceID=@Id) is not null
	begin
	update turkPetrol set benzin=@benzin,motorin=@motorin,otogaz=@otogaz, date=getdate() where IlceID=@Id;
	END
	else begin
	INSERT INTO dbo.turkPetrol values (@Id, getdate(), @benzin, @motorin,@otogaz,@ilce);
	end;
end;
GO
/****** Object:  StoredProcedure [dbo].[getLastDay]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[getLastDay] @marka varchar(20)
as
declare @Existingdate datetime
if  @marka like 'turkpetrol'
begin
set @Existingdate= (Select max(date) from turkPetrol); 
SELECT FORMAT(@Existingdate,'d-M-yyyy')
end
else if  @marka like 'shell'
begin
set @Existingdate= (Select max(date) from shell); 
SELECT FORMAT(@Existingdate,'d-M-yyyy')
end
else if  @marka like 'opet'
begin
set @Existingdate= (Select max(date) from opet); 
SELECT FORMAT(@Existingdate,'d-M-yyyy')
end
else if  @marka like 'total'
begin
set @Existingdate= (Select max(date) from Total); 
SELECT FORMAT(@Existingdate,'d-M-yyyy')
end
else if  @marka like 'bp'
begin
set @Existingdate= (Select max(date) from bp); 
SELECT FORMAT(@Existingdate,'d-M-yyyy')
end
else
set @Existingdate=null;
GO
/****** Object:  StoredProcedure [dbo].[sync_archivedata]    Script Date: 24.05.2021 15:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sync_archivedata] as
DECLARE @lastdate_s date,@lastdate_d date
set @lastdate_s=(select max(date) from turkPetrol)
set @lastdate_d =(select max(date) from archive)
if(@lastdate_d != @lastdate_s or @lastdate_d is null)
begin
insert into archive (date,benzin,motorin,otogaz) (select t.date,try_convert(float,t.benzin),try_convert(float,t.motorin),try_convert(float,t.otogaz) from turkPetrol as t where t.IlceID=968);
print 'success'
end
else
begin
print 'source: '+cast(@lastdate_s as varchar) +' destination: '+cast(@lastdate_d as varchar);
end
GO
USE [master]
GO
