<head>
    <link rel="stylesheet" href="~/Content/AboutStyle.css" />
</head>
<body>
    <br /><div class="row">
        <div class="col-md-6"><br />FindOil aims to help clients gain a better experiences of navigation between gas station locations, prices and price predictions.</div><br /><div class="col-md-4"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.8913742585333!2d28.831581166611045!3d40.99099431470042!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x658a212e6b4359b5!2zVC5DLiDEsHN0YW5idWwgS8O8bHTDvHIgw5xuaXZlcnNpdGVzaQ!5e0!3m2!1str!2str!4v1619290485931!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>
</body>