@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid">

    <h1>Contact us</h1>
    <form method="post" action="Contact">
        <span class="form-control-static">Name:</span>
        <input name="subject" type="text" class="form-control" />
        <span>E-mail:</span>
        <input name="customerMail" type="text" class="form-control" />
        <span>Message:</span>
        <br />
        <textarea name="message" rows="5" cols="36"></textarea>
        <br />
        <input class="btn btn-default" id="Button1" type="submit" value="Send" />
    </form>

</div>

