
@{
    ViewBag.Title = "MobileApp";
}

<head>
    <link rel="stylesheet" href="~/Content/MobileAppStyle.css" />
    <script src="https://kit.fontawesome.com/245fb8d3f5.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="mobilecontainer">

    </div>
    <div class="row">
        <div class="col-md-4">
            <i class="fas fa-search-dollar fa-5x"></i>
            <h4>REAL TIME PRICES</h4>
        </div>
        <div class="col-md-4">
            <i class="fas fa-chart-line fa-5x"></i>
            <h4>PRICE PREDICTION</h4>
        </div>
        <div class="col-md-4">
            <i class="fas fa-map-marked-alt fa-5x"></i>
            <h4>NEAREST GAS STATION</h4>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/Images/mobileapp1.png" />
            </div>
            <div class="col-sm-6">
                <h2 id="header1">Use our advanced tools to stake out lucrative locations and plot revenue-maximizing routes.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 id="header2">Use our advanced tools to stake out lucrative locations and plot revenue-maximizing routes.</h2>
            </div>
            <div class="col-sm-6">
                <img id="img2" src="~/Content/Images/mobileapp2.png" />
            </div>
        </div>
    </div>
</body>
